In [2]:
import numpy as np
import pandas as pd

In [3]:
In [1]: index = pd.date_range('1/1/2000', periods=8)

In [2]: s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [3]: df = pd.DataFrame(np.random.randn(8, 3), index=index,
   ...:                   columns=['A', 'B', 'C'])
   ...: 

In [4]: wp = pd.Panel(np.random.randn(2, 5, 4), items=['Item1', 'Item2'],
   ...:               major_axis=pd.date_range('1/1/2000', periods=5),
   ...:               minor_axis=['A', 'B', 'C', 'D'])
   ...:

In [4]:
long_series = pd.Series(np.random.randn(1000))
long_series.head()

0    0.435200
1    0.840658
2    0.497708
3    0.121002
4   -0.585553
dtype: float64

In [5]:
long_series.tail()

995    1.263862
996   -0.507601
997   -0.950802
998    0.238866
999   -1.427436
dtype: float64

## Attributes and the raw ndarray
- shape: axis dimensions 
- Axis labels:
    - Series: index
    - DataFrame: index(row) and columns
    - Panel: items, major_axis, and minor_axis

In [6]:
df[:2]

                   A         B         C
2000-01-01  0.604858  1.099057  0.297883
2000-01-02  0.468293 -1.013364  0.108431

In [7]:
df.columns = [x.lower() for x in df.columns]
df[:2]

                   a         b         c
2000-01-01  0.604858  1.099057  0.297883
2000-01-02  0.468293 -1.013364  0.108431

In [8]:
s.values

array([ 0.51187719, -0.70701204, -1.75664149,  0.08170631,  0.09650072])

## Accelerated operations
- numxpr
- bottleneck

## Flexible binary operations
### Matching / broadcasting behavior

In [38]:
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index = ['a', 'b', 'c']),
                  'two' : pd.Series(np.random.randn(4), index = ['a', 'b', 'c', 'd']),
                  'three' : pd.Series(np.random.randn(3), index = ['b', 'c', 'd'])
                  })
df

        one     three       two
a -0.448835       NaN  0.605843
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141
d       NaN  0.390707 -0.010017

In [39]:
row = df.ix[1]

In [40]:
column = df['two']

In [41]:
df.sub(row, axis='columns')

        one     three       two
a -0.321091       NaN -0.094855
b  0.000000  0.000000  0.000000
c -0.203793 -0.690582 -0.859839
d       NaN -0.633064 -0.710715

In [42]:
df.sub(row, axis=1)

        one     three       two
a -0.321091       NaN -0.094855
b  0.000000  0.000000  0.000000
c -0.203793 -0.690582 -0.859839
d       NaN -0.633064 -0.710715

In [43]:
df.sub(column, axis='index')

        one     three  two
a -1.054678       NaN  0.0
b -0.828442  0.323073  0.0
c -0.172396  0.492329  0.0
d       NaN  0.400724  0.0

In [44]:
df.sub(column, axis=0)

        one     three  two
a -1.054678       NaN  0.0
b -0.828442  0.323073  0.0
c -0.172396  0.492329  0.0
d       NaN  0.400724  0.0

In [45]:
dfmi = df.copy()

In [46]:
In [23]: dfmi.index = pd.MultiIndex.from_tuples([(1,'a'),(1,'b'),(1,'c'),(2,'a')],
   ....:                                        names=['first','second'])
   ....:

In [47]:
dfmi

                   one     three       two
first second
1     a      -0.448835       NaN  0.605843
      b      -0.127744  1.023771  0.700698
      c      -0.331537  0.333188 -0.159141
2     a            NaN  0.390707 -0.010017

In [48]:
dfmi.sub(column, axis=0, level='second')

                   one     three      two
first second
1     a      -1.054678       NaN  0.00000
      b      -0.828442  0.323073  0.00000
      c      -0.172396  0.492329  0.00000
2     a            NaN -0.215136 -0.61586

### Missing data / operations with fill values

In [49]:
df

        one     three       two
a -0.448835       NaN  0.605843
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141
d       NaN  0.390707 -0.010017

In [50]:
df2 = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index = ['a', 'b', 'c']),
                  'two' : pd.Series(np.random.randn(4), index = ['a', 'b', 'c', 'd']),
                  'three' : pd.Series(np.random.randn(4), index = ['a', 'b', 'c', 'd'])
                  })
df2

        one     three       two
a  0.079324  1.307373 -0.980721
b -0.009723  0.179239 -1.342858
c  1.783505 -2.758305 -0.164396
d       NaN  0.218937  0.169721

In [51]:
df + df2

        one     three       two
a -0.369512       NaN -0.374878
b -0.137467  1.203009 -0.642160
c  1.451968 -2.425117 -0.323537
d       NaN  0.609644  0.159704

In [52]:
df.add(df2, fill_value=0)

        one     three       two
a -0.369512  1.307373 -0.374878
b -0.137467  1.203009 -0.642160
c  1.451968 -2.425117 -0.323537
d       NaN  0.609644  0.159704

### Flexible Comparisons
- eq
- ne
- lt
- gt
- le
- ge

In [53]:
df.gt(df2)

     one  three    two
a  False  False   True
b  False   True   True
c  False   True   True
d  False   True  False

In [54]:
df2.ne(df)

    one three   two
a  True  True  True
b  True  True  True
c  True  True  True
d  True  True  True

### Boolean Reductions
- empty
- any()
- all()
- bool()

In [55]:
(df > 0).all()

     one  three    two
a  False  False   True
b  False   True   True
c  False   True  False
d  False   True  False

In [56]:
(df > 0).any().any()

True

In [57]:
df.empty

False

In [58]:
pd.Series([True])

0    True
dtype: bool

In [59]:
pd.Series([True]).bool()

True

In [60]:
pd.DataFrame([[True]])

      0
0  True

In [61]:
pd.DataFrame([[True]]).bool()

True

### Comparing if objects are equivalent

In [62]:
df + df == df*2

     one  three   two
a   True  False  True
b   True   True  True
c   True   True  True
d  False   True  True

In [63]:
(df + df == df*2).all()

one      False
three    False
two       True
dtype: bool

In [64]:
np.nan == np.nan

False

In [65]:
(df+df).equals(df*2)

True

Note that the Series or DataFrame index needs to be in the same order for equality to be True:

### Comparing array-like objects

In [66]:
In [51]: pd.Series(['foo', 'bar', 'baz']) == 'foo'

0     True
1    False
2    False
dtype: bool

In [67]:
pd.Index(['foo', 'bar', 'baz']) == 'foo'

array([ True, False, False], dtype=bool)

In [68]:
pd.Series(['foo', 'bar', 'baz']) == pd.Index(['foo', 'bar', 'qux'])

0     True
1     True
2    False
dtype: bool

In [69]:
pd.Series(['foo', 'bar', 'baz']) == np.array(['foo', 'bar', 'qux'])

0     True
1     True
2    False
dtype: bool

In [70]:
pd.Series(['foo', 'bar', 'baz']) == pd.Series(['foo', 'bar'])

ValueError: Series lengths must match to compare

In [71]:
np.array([1, 2, 3]) == np.array([2])

array([False,  True, False], dtype=bool)

In [72]:
np.array([1, 2, 3]) == np.array([1, 2])

C:\Users\Chao\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  if __name__ == '__main__':

False

### Combining overlapping data sets

In [73]:
In [57]: df1 = pd.DataFrame({'A' : [1., np.nan, 3., 5., np.nan],
   ....:                     'B' : [np.nan, 2., 3., np.nan, 6.]})
   ....: 

In [58]: df2 = pd.DataFrame({'A' : [5., 2., 4., np.nan, 3., 7.],
   ....:                     'B' : [np.nan, np.nan, 3., 4., 6., 8.]})
   ....: 

In [59]: df1

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [74]:
df2

     A    B
0  5.0  NaN
1  2.0  NaN
2  4.0  3.0
3  NaN  4.0
4  3.0  6.0
5  7.0  8.0

In [75]:
In [61]: df1.combine_first(df2)

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

### General DataFrame Combine

In [76]:
In [62]: combiner = lambda x, y: np.where(pd.isnull(x), y, x)

In [63]: df1.combine(df2, combiner)

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

## Descriptive statistics
A large number of methods for computing descriptive statistics and other related operations on Series, DataFrame, and Panel. Most of these are aggregations (hence producing a lower-dimensional result) like sum(), mean(), and quantile(), but some of them, like cumsum() and cumprod(), produce an object of the same size. Generally speaking, these methods take an axis argument, just like ndarray.{sum, std, ...}, but the axis can be specified by name or integer:
- Series: no axis argument needed
- DataFrame: “index” (axis=0, default), “columns” (axis=1)
- Panel: “items” (axis=0), “major” (axis=1, default), “minor” (axis=2)

In [77]:
df

        one     three       two
a -0.448835       NaN  0.605843
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141
d       NaN  0.390707 -0.010017

In [78]:
df.mean(0)

one     -0.302705
three    0.582555
two      0.284346
dtype: float64

In [80]:
df.mean(1)

a    0.078504
b    0.532242
c   -0.052496
d    0.190345
dtype: float64

In [81]:
df.sum(0, skipna=False)

one           NaN
three         NaN
two      1.137383
dtype: float64

In [83]:
df.sum(axis=1, skipna=True)

a    0.157007
b    1.596725
c   -0.157489
d    0.380690
dtype: float64

In [85]:
ts_stand = (df - df.mean()) / df.std()
ts_stand.std()

one      1.0
three    1.0
two      1.0
dtype: float64

In [86]:
In [71]: xs_stand = df.sub(df.mean(1), axis=0).div(df.std(1), axis=0)

In [72]: xs_stand.std(1)

a    1.0
b    1.0
c    1.0
d    1.0
dtype: float64

In [87]:
In [73]: df.cumsum()

        one     three       two
a -0.448835       NaN  0.605843
b -0.576579  1.023771  1.306541
c -0.908116  1.356959  1.147400
d       NaN  1.747666  1.137383


Function | Description
------|------
count |  Number of non-null observations
sum	| Sum of values
mean |	Mean of values
mad	 | Mean absolute deviation
median	| Arithmetic median of values
min	| Minimum
max	| Maximum
mode |	Mode
abs	| Absolute Value
prod |	Product of values
std	| Bessel-corrected sample standard deviation
var	| Unbiased variance
sem	| Standard error of the mean
skew |	Sample skewness (3rd moment)
kurt |	Sample kurtosis (4th moment)
quantile |	Sample quantile (value at %)
cumsum |	Cumulative sum
cumprod	| Cumulative product
cummax	| Cumulative maximum
cummin	| Cumulative minimum

In [88]:
In [74]: np.mean(df['one'])

-0.30270539553042536

In [89]:

In [75]: np.mean(df['one'].values)

nan

In [90]:
In [76]: series = pd.Series(np.random.randn(500))

In [77]: series[20:500] = np.nan

In [78]: series[10:20]  = 5

In [79]: series.nunique()

11

### Summarizing data: describe

In [91]:
In [80]: series = pd.Series(np.random.randn(1000))

In [81]: series[::2] = np.nan

In [82]: series.describe()

count    500.000000
mean       0.028100
std        0.957678
min       -3.073874
25%       -0.585045
50%        0.054951
75%        0.618099
max        2.717055
dtype: float64

In [92]:
In [83]: frame = pd.DataFrame(np.random.randn(1000, 5), columns=['a', 'b', 'c', 'd', 'e'])

In [84]: frame.ix[::2] = np.nan

In [85]: frame.describe()

                a           b           c           d           e
count  500.000000  500.000000  500.000000  500.000000  500.000000
mean    -0.026719   -0.081293    0.030454   -0.043771    0.078375
std      1.004922    1.021861    0.970649    0.982897    1.036245
min     -3.641153   -3.628772   -2.910082   -3.097387   -2.854591
25%     -0.701693   -0.692035   -0.639107   -0.738790   -0.664399
50%     -0.069246   -0.053056   -0.007015   -0.043087    0.091688
75%      0.646481    0.559863    0.648568    0.681168    0.815792
max      2.460900    3.338092    2.893762    2.657239    3.403838

In [93]:
In [86]: series.describe(percentiles=[.05, .25, .75, .95])

count    500.000000
mean       0.028100
std        0.957678
min       -3.073874
5%        -1.656440
25%       -0.585045
50%        0.054951
75%        0.618099
95%        1.601824
max        2.717055
dtype: float64

In [94]:
In [87]: s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a', np.nan, 'c', 'd', 'a'])

In [88]: s.describe()

count     9
unique    4
top       a
freq      5
dtype: object

In [95]:
In [89]: frame = pd.DataFrame({'a': ['Yes', 'Yes', 'No', 'No'], 'b': range(4)})

In [90]: frame.describe()

              b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

In [96]:
In [91]: frame.describe(include=['object'])

          a
count     4
unique    2
top     Yes
freq      2

In [97]:
In [92]: frame.describe(include='all')

          a         b
count     4  4.000000
unique    2       NaN
top     Yes       NaN
freq      2       NaN
mean    NaN  1.500000
std     NaN  1.290994
min     NaN  0.000000
25%     NaN  0.750000
50%     NaN  1.500000
75%     NaN  2.250000
max     NaN  3.000000

### Index of Min/Max Values
- idxmin()
- idxmax()

In [98]:

In [99]: df1.idxmin(axis=0)

A    0
B    1
dtype: int64

In [99]:
In [101]: df3 = pd.DataFrame([2, 1, 1, 3, np.nan], columns=['A'], index=list('edcba'))

In [102]: df3

     A
e  2.0
d  1.0
c  1.0
b  3.0
a  NaN

In [100]:
In [103]: df3['A'].idxmin()

'd'

### Value counts (histogramming) / Mode

In [101]:
In [104]: data = np.random.randint(0, 7, size=50)
In [106]: s = pd.Series(data)

In [107]: s.value_counts()

0    10
1     9
3     8
5     7
2     7
4     6
6     3
dtype: int64

In [102]:
In [108]: pd.value_counts(data)

0    10
1     9
3     8
5     7
2     7
4     6
6     3
dtype: int64

In [103]:
In [109]: s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])

In [110]: s5.mode()

0    3
1    7
dtype: int64

In [104]:
In [111]: df5 = pd.DataFrame({"A": np.random.randint(0, 7, size=50),
   .....:                     "B": np.random.randint(-10, 15, size=50)})
   .....: 

In [112]: df5.mode()

   A  B
0  4  9

### Discretization and quantiling

In [105]:
In [113]: arr = np.random.randn(20)

In [114]: factor = pd.cut(arr, 4)

In [115]: factor

[(-1.325, -0.467], (-0.467, 0.388], (-1.325, -0.467], (-0.467, 0.388], (-1.325, -0.467], ..., (1.243, 2.0982], (-0.467, 0.388], (0.388, 1.243], (0.388, 1.243], (1.243, 2.0982]]
Length: 20
Categories (4, object): [(-1.325, -0.467] < (-0.467, 0.388] < (0.388, 1.243] < (1.243, 2.0982]]

In [106]:
In [116]: factor = pd.cut(arr, [-5, -1, 0, 1, 5])

In [117]: factor

[(-5, -1], (-1, 0], (-5, -1], (-1, 0], (-1, 0], ..., (1, 5], (0, 1], (0, 1], (0, 1], (1, 5]]
Length: 20
Categories (4, object): [(-5, -1] < (-1, 0] < (0, 1] < (1, 5]]

In [107]:
In [118]: arr = np.random.randn(30)

In [119]: factor = pd.qcut(arr, [0, .25, .5, .75, 1])

In [120]: factor

[(-0.797, -0.0723], (-0.797, -0.0723], (-0.0723, 0.558], (-0.0723, 0.558], (0.558, 1.952], ..., [-1.48, -0.797], (0.558, 1.952], [-1.48, -0.797], (0.558, 1.952], (0.558, 1.952]]
Length: 30
Categories (4, object): [[-1.48, -0.797] < (-0.797, -0.0723] < (-0.0723, 0.558] < (0.558, 1.952]]

In [108]:
In [121]: pd.value_counts(factor)

(0.558, 1.952]       8
[-1.48, -0.797]      8
(-0.0723, 0.558]     7
(-0.797, -0.0723]    7
dtype: int64

In [109]:
In [122]: arr = np.random.randn(20)

In [123]: factor = pd.cut(arr, [-np.inf, 0, np.inf])

In [124]: factor

[(0, inf], (0, inf], (-inf, 0], (-inf, 0], (0, inf], ..., (-inf, 0], (0, inf], (-inf, 0], (0, inf], (0, inf]]
Length: 20
Categories (2, object): [(-inf, 0] < (0, inf]]

## Function application

In [111]:
In [125]: import statsmodels.formula.api as sm

In [126]: bb = pd.read_csv('data/baseball.csv', index_col='id')

In [127]: (bb.query('h > 0')
   .....:    .assign(ln_h = lambda df: np.log(df.h))
   .....:    .pipe((sm.poisson, 'data'), 'hr ~ ln_h + year + g + C(lg)')
   .....:    .fit()
   .....:    .summary()
   .....: )
   .....:

OSError: File b'data/baseball.csv' does not exist

### Row or Column-wise Function Application

In [112]:
In [128]: df.apply(np.mean)

one     -0.302705
three    0.582555
two      0.284346
dtype: float64

In [113]:
In [129]: df.apply(np.mean, axis=1)

a    0.078504
b    0.532242
c   -0.052496
d    0.190345
dtype: float64

In [114]:
In [130]: df.apply(lambda x: x.max() - x.min())

one      0.321091
three    0.690582
two      0.859839
dtype: float64

In [115]:
In [131]: df.apply(np.cumsum)

        one     three       two
a -0.448835       NaN  0.605843
b -0.576579  1.023771  1.306541
c -0.908116  1.356959  1.147400
d       NaN  1.747666  1.137383

In [116]:
In [132]: df.apply(np.exp)

        one     three       two
a  0.638371       NaN  1.832796
b  0.880079  2.783671  2.015159
c  0.717820  1.395410  0.852876
d       NaN  1.478025  0.990033

In [117]:
np.exp(df)

        one     three       two
a  0.638371       NaN  1.832796
b  0.880079  2.783671  2.015159
c  0.717820  1.395410  0.852876
d       NaN  1.478025  0.990033

In [118]:
In [133]: tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A', 'B', 'C'],
   .....:                     index=pd.date_range('1/1/2000', periods=1000))
   .....: 

In [134]: tsdf.apply(lambda x: x.idxmax())

A   2000-10-15
B   2001-04-01
C   2002-01-27
dtype: datetime64[ns]

In [119]:
def subtract_and_divide(x, sub, divide=1):
    return (x - sub) / divide

df.apply(subtract_and_divide, args=(5,), divide=3)

        one     three       two
a -1.816278       NaN -1.464719
b -1.709248 -1.325410 -1.433101
c -1.777179 -1.555604 -1.719714
d       NaN -1.536431 -1.670006

In [121]:
tsdf.head()

                   A         B         C
2000-01-01  1.163157 -0.421772 -0.666730
2000-01-02  1.008574  0.310314 -0.806477
2000-01-03 -1.829470 -0.420051  0.176365
2000-01-04 -0.048477  0.355775 -0.935630
2000-01-05  0.845397  0.539474  0.319935

In [124]:
In [136]: tsdf.apply(pd.Series.interpolate).head()

                   A         B         C
2000-01-01  1.163157 -0.421772 -0.666730
2000-01-02  1.008574  0.310314 -0.806477
2000-01-03 -1.829470 -0.420051  0.176365
2000-01-04 -0.048477  0.355775 -0.935630
2000-01-05  0.845397  0.539474  0.319935

### Applying elementwise Python functions

In [125]:
df4

NameError: name 'df4' is not defined

In [126]:
df

        one     three       two
a -0.448835       NaN  0.605843
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141
d       NaN  0.390707 -0.010017

In [127]:
In [138]: f = lambda x: len(str(x))

In [128]:
df['one'].map(f)

a    15
b    14
c    15
d     3
Name: one, dtype: int64

In [129]:
df.applymap(f)

   one  three  two
a   15      3   13
b   14     13   14
c   15     14   15
d    3     14   16

In [130]:
In [141]: s = pd.Series(['six', 'seven', 'six', 'seven', 'six'],
   .....:               index=['a', 'b', 'c', 'd', 'e'])
   .....: 

In [142]: t = pd.Series({'six' : 6., 'seven' : 7.})

In [143]: s

a      six
b    seven
c      six
d    seven
e      six
dtype: object

In [131]:
s.map(t)

a    6.0
b    7.0
c    6.0
d    7.0
e    6.0
dtype: float64

### Applying with a Panel

## Reindexing and altering labels
reindex() is the fundamental data alignment method in pandas. It is used to implement nearly all other features relying on label-alignment functionality. To reindex means to conform the data to match a given set of labels along a particular axis. This accomplishes several things:

- Reorders the existing data to match a new set of labels
- Inserts missing value (NA) markers in label locations where no data for that label existed
- If specified, fill data for missing labels using logic (highly relevant to working with time series data)

In [132]:
In [165]: s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [166]: s

a   -0.885772
b   -0.184696
c   -0.748243
d    0.828154
e   -0.138116
dtype: float64

In [133]:
In [167]: s.reindex(['e', 'b', 'f', 'd'])

e   -0.138116
b   -0.184696
f         NaN
d    0.828154
dtype: float64

In [134]:
df

        one     three       two
a -0.448835       NaN  0.605843
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141
d       NaN  0.390707 -0.010017

In [135]:
In [169]: df.reindex(index=['c', 'f', 'b'], columns=['three', 'two', 'one'])

      three       two       one
c  0.333188 -0.159141 -0.331537
f       NaN       NaN       NaN
b  1.023771  0.700698 -0.127744

In [136]:
In [170]: rs = s.reindex(df.index)

In [171]: rs

a   -0.885772
b   -0.184696
c   -0.748243
d    0.828154
dtype: float64

### Reindexing to align with another object

In [137]:
#df.reindex_like(df2)

### Aligning objects with each other with align
The align() method is the fastest way to simultaneously align two objects. It supports a join argument (related to joining and merging):

- join='outer': take the union of the indexes (default)
- join='left': use the calling object’s index
- join='right': use the passed object’s index
- join='inner': intersect the indexes

In [138]:
In [176]: s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [177]: s1 = s[:4]

In [178]: s2 = s[1:]

In [179]: s1.align(s2)

(a   -1.887773
 b    1.269825
 c    0.608295
 d    1.917648
 e         NaN
 dtype: float64, a         NaN
 b    1.269825
 c    0.608295
 d    1.917648
 e    0.340675
 dtype: float64)

In [139]:
In [180]: s1.align(s2, join='inner')

(b    1.269825
 c    0.608295
 d    1.917648
 dtype: float64, b    1.269825
 c    0.608295
 d    1.917648
 dtype: float64)

In [140]:
In [181]: s1.align(s2, join='left')

(a   -1.887773
 b    1.269825
 c    0.608295
 d    1.917648
 dtype: float64, a         NaN
 b    1.269825
 c    0.608295
 d    1.917648
 dtype: float64)

In [147]:
df.align(df2, join='inner')

(Empty DataFrame
 Columns: []
 Index: [], Empty DataFrame
 Columns: []
 Index: [])

In [145]:
df.align(df2, join='inner', axis=0)

(Empty DataFrame
 Columns: [one, three, two]
 Index: [], Empty DataFrame
 Columns: [A, B]
 Index: [])

In [146]:
df.align(df2.ix[0], axis=1)

(    A   B       one     three       two
 a NaN NaN -0.448835       NaN  0.605843
 b NaN NaN -0.127744  1.023771  0.700698
 c NaN NaN -0.331537  0.333188 -0.159141
 d NaN NaN       NaN  0.390707 -0.010017, A        5.0
 B        NaN
 one      NaN
 three    NaN
 two      NaN
 Name: 0, dtype: float64)

### Filling while reindexing
reindex() takes an optional parameter method which is a filling method chosen from the following table:

Method |	Action
---|---
pad / ffill |	Fill values forward
bfill / backfill |	Fill values backward
nearest	 | Fill from the nearest index value

In [148]:
In [185]: rng = pd.date_range('1/3/2000', periods=8)

In [186]: ts = pd.Series(np.random.randn(8), index=rng)

In [187]: ts2 = ts[[0, 3, 6]]

In [188]: ts

2000-01-03   -0.848497
2000-01-04    0.485944
2000-01-05   -0.714034
2000-01-06    1.024323
2000-01-07    1.105397
2000-01-08    1.925324
2000-01-09    0.410181
2000-01-10   -0.533266
Freq: D, dtype: float64

In [149]:
ts2

2000-01-03   -0.848497
2000-01-06    1.024323
2000-01-09    0.410181
dtype: float64

In [150]:
In [190]: ts2.reindex(ts.index)

2000-01-03   -0.848497
2000-01-04         NaN
2000-01-05         NaN
2000-01-06    1.024323
2000-01-07         NaN
2000-01-08         NaN
2000-01-09    0.410181
2000-01-10         NaN
Freq: D, dtype: float64

In [151]:

In [191]: ts2.reindex(ts.index, method='ffill')

2000-01-03   -0.848497
2000-01-04   -0.848497
2000-01-05   -0.848497
2000-01-06    1.024323
2000-01-07    1.024323
2000-01-08    1.024323
2000-01-09    0.410181
2000-01-10    0.410181
Freq: D, dtype: float64

In [152]:
In [192]: ts2.reindex(ts.index, method='bfill')

2000-01-03   -0.848497
2000-01-04    1.024323
2000-01-05    1.024323
2000-01-06    1.024323
2000-01-07    0.410181
2000-01-08    0.410181
2000-01-09    0.410181
2000-01-10         NaN
Freq: D, dtype: float64

In [153]:
In [193]: ts2.reindex(ts.index, method='nearest')

2000-01-03   -0.848497
2000-01-04   -0.848497
2000-01-05    1.024323
2000-01-06    1.024323
2000-01-07    1.024323
2000-01-08    0.410181
2000-01-09    0.410181
2000-01-10    0.410181
Freq: D, dtype: float64

In [154]:
In [194]: ts2.reindex(ts.index).fillna(method='ffill')

2000-01-03   -0.848497
2000-01-04   -0.848497
2000-01-05   -0.848497
2000-01-06    1.024323
2000-01-07    1.024323
2000-01-08    1.024323
2000-01-09    0.410181
2000-01-10    0.410181
Freq: D, dtype: float64

### Limits on filling while reindexing

In [155]:
In [195]: ts2.reindex(ts.index, method='ffill', limit=1)

2000-01-03   -0.848497
2000-01-04   -0.848497
2000-01-05         NaN
2000-01-06    1.024323
2000-01-07    1.024323
2000-01-08         NaN
2000-01-09    0.410181
2000-01-10    0.410181
Freq: D, dtype: float64

In [156]:
In [196]: ts2.reindex(ts.index, method='ffill', tolerance='1 day')

2000-01-03   -0.848497
2000-01-04   -0.848497
2000-01-05         NaN
2000-01-06    1.024323
2000-01-07    1.024323
2000-01-08         NaN
2000-01-09    0.410181
2000-01-10    0.410181
Freq: D, dtype: float64

### Dropping labels from an axis

In [157]:
df

        one     three       two
a -0.448835       NaN  0.605843
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141
d       NaN  0.390707 -0.010017

In [158]:
In [198]: df.drop(['a', 'd'], axis=0)

        one     three       two
b -0.127744  1.023771  0.700698
c -0.331537  0.333188 -0.159141

In [159]:
In [199]: df.drop(['one'], axis=1)

      three       two
a       NaN  0.605843
b  1.023771  0.700698
c  0.333188 -0.159141
d  0.390707 -0.010017

### Renaming / mapping labels

In [160]:
s

a   -1.887773
b    1.269825
c    0.608295
d    1.917648
e    0.340675
dtype: float64

In [161]:
In [202]: s.rename(str.upper)

A   -1.887773
B    1.269825
C    0.608295
D    1.917648
E    0.340675
dtype: float64

In [162]:
In [203]: df.rename(columns={'one' : 'foo', 'two' : 'bar'},
   .....:           index={'a' : 'apple', 'b' : 'banana', 'd' : 'durian'})
   .....:

             foo     three       bar
apple  -0.448835       NaN  0.605843
banana -0.127744  1.023771  0.700698
c      -0.331537  0.333188 -0.159141
durian       NaN  0.390707 -0.010017

In [163]:
In [204]: s.rename("scalar-name")

a   -1.887773
b    1.269825
c    0.608295
d    1.917648
e    0.340675
Name: scalar-name, dtype: float64

### Iteration
The behavior of basic iteration over pandas objects depends on the type. When iterating over a Series, it is regarded as array-like, and basic iteration produces the values. Other data structures, like DataFrame and Panel, follow the dict-like convention of iterating over the “keys” of the objects.

In short, basic iteration (for i in object) produces:

- Series: values
- DataFrame: column labels
- Panel: item labels

In [164]:
In [205]: df = pd.DataFrame({'col1' : np.random.randn(3), 'col2' : np.random.randn(3)},
   .....:                   index=['a', 'b', 'c'])
   .....: 

In [206]: for col in df:
   .....:     print(col)
   .....:

col1
col2

Pandas objects also have the dict-like iteritems() method to iterate over the (key, value) pairs.

To iterate over the rows of a DataFrame, you can use the following methods:

- iterrows(): Iterate over the rows of a DataFrame as (index, Series) pairs. This converts the rows to Series objects, which can change the dtypes and has some performance implications.
- itertuples(): Iterate over the rows of a DataFrame as namedtuples of the values. This is a lot faster than iterrows(), and is in most cases preferable to use to iterate over the values of a DataFrame.

You should never modify something you are iterating over.

In [165]:
In [207]: df = pd.DataFrame({'a': [1, 2, 3], 'b': ['a', 'b', 'c']})

In [208]: for index, row in df.iterrows():
   .....:     row['a'] = 10
   .....: 

In [209]: df

   a  b
0  1  a
1  2  b
2  3  c

### iteritems
Consistent with the dict-like interface, iteritems() iterates through key-value pairs:

- Series: (index, scalar value) pairs
- DataFrame: (column, Series) pairs
- Panel: (item, DataFrame) pairs

In [166]:
In [210]: for item, frame in wp.iteritems():
   .....:     print(item)
   .....:     print(frame)
   .....:

Item1
                   A         B         C         D
2000-01-01 -0.785312 -0.657065  1.917589  0.301435
2000-01-02 -0.101487 -1.039789 -0.209863 -0.202420
2000-01-03 -0.663518  2.007692 -1.339358  0.601086
2000-01-04  0.580037  1.164058 -0.191639 -0.994204
2000-01-05 -1.601255 -0.440935 -0.240759  0.299692
Item2
                   A         B         C         D
2000-01-01  2.276921  1.660227 -0.367113  0.609384
2000-01-02 -0.182425 -0.433667  0.502763  1.299689
2000-01-03  1.924925 -0.366249 -0.606451 -1.237831
2000-01-04 -0.084814 -0.505932 -0.208383 -0.706510
2000-01-05 -1.962796 -1.008497  0.251280  0.341681

### iterrows

In [167]:
In [211]: for row_index, row in df.iterrows():
   .....:     print('%s\n%s' % (row_index, row))
   .....:

0
a    1
b    a
Name: 0, dtype: object
1
a    2
b    b
Name: 1, dtype: object
2
a    3
b    c
Name: 2, dtype: object

In [168]:
In [212]: df_orig = pd.DataFrame([[1, 1.5]], columns=['int', 'float'])

In [213]: df_orig.dtypes

int        int64
float    float64
dtype: object

In [169]:

In [214]: row = next(df_orig.iterrows())[1]

In [215]: row

int      1.0
float    1.5
Name: 0, dtype: float64

In [170]:
In [216]: row['int'].dtype

dtype('float64')

In [171]:
In [217]: df_orig['int'].dtype

dtype('int64')

In [172]:
In [218]: df2 = pd.DataFrame({'x': [1, 2, 3], 'y': [4, 5, 6]})

In [219]: print(df2)

   x  y
0  1  4
1  2  5
2  3  6

In [173]:

In [220]: print(df2.T)

   0  1  2
x  1  2  3
y  4  5  6

In [174]:
In [221]: df2_t = pd.DataFrame(dict((idx,values) for idx, values in df2.iterrows()))

In [222]: print(df2_t)

   0  1  2
x  1  2  3
y  4  5  6

In [175]:
In [223]: for row in df.itertuples():
   .....:     print(row)
   .....:

Pandas(Index=0, a=1, b='a')
Pandas(Index=1, a=2, b='b')
Pandas(Index=2, a=3, b='c')

### .dt accessor

In [176]:
# datetime
In [224]: s = pd.Series(pd.date_range('20130101 09:10:12', periods=4))

In [225]: s

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]

In [177]:
In [226]: s.dt.hour

0    9
1    9
2    9
3    9
dtype: int64

In [178]:
In [227]: s.dt.second

0    12
1    12
2    12
3    12
dtype: int64

In [179]:
In [228]: s.dt.day

0    1
1    2
2    3
3    4
dtype: int64

In [180]:
In [229]: s[s.dt.day==2]

1   2013-01-02 09:10:12
dtype: datetime64[ns]

In [181]:
In [230]: stz = s.dt.tz_localize('US/Eastern')

In [231]: stz

0   2013-01-01 09:10:12-05:00
1   2013-01-02 09:10:12-05:00
2   2013-01-03 09:10:12-05:00
3   2013-01-04 09:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [182]:
In [233]: s.dt.tz_localize('UTC').dt.tz_convert('US/Eastern')

0   2013-01-01 04:10:12-05:00
1   2013-01-02 04:10:12-05:00
2   2013-01-03 04:10:12-05:00
3   2013-01-04 04:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [183]:
# DatetimeIndex
In [234]: s = pd.Series(pd.date_range('20130101', periods=4))

In [235]: s

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: datetime64[ns]

In [184]:
In [236]: s.dt.strftime('%Y/%m/%d')

0    2013/01/01
1    2013/01/02
2    2013/01/03
3    2013/01/04
dtype: object

In [185]:
# PeriodIndex
In [237]: s = pd.Series(pd.period_range('20130101', periods=4))

In [238]: s

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: object

In [186]:
In [239]: s.dt.strftime('%Y/%m/%d')

0    2013/01/01
1    2013/01/02
2    2013/01/03
3    2013/01/04
dtype: object

In [187]:
# period
In [240]: s = pd.Series(pd.period_range('20130101', periods=4, freq='D'))

In [241]: s

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: object

In [188]:
s.dt.year

0    2013
1    2013
2    2013
3    2013
dtype: int64

In [189]:
# timedelta
In [244]: s = pd.Series(pd.timedelta_range('1 day 00:00:05', periods=4, freq='s'))

In [245]: s

0   1 days 00:00:05
1   1 days 00:00:06
2   1 days 00:00:07
3   1 days 00:00:08
dtype: timedelta64[ns]

## Vectorized string methods

In [190]:
In [249]: s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [250]: s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Sorting