In [3]:
%matplotlib inline

In [4]:
import numpy as np
import pandas as pd

In [5]:
d = {'one' : pd.Series(['a', 'b', 'c'], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 4.], index=['a', 'b', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a    a  1.0
b    b  2.0
c    c  NaN
d  NaN  4.0

In [6]:
type(df['one'])

pandas.core.series.Series

In [7]:
d['one']

a    a
b    b
c    c
dtype: object

In [8]:
col_name = 'one'
one_dummy = pd.get_dummies(df[col_name],  prefix=col_name, prefix_sep='_', dummy_na=True)

In [9]:
type(one_dummy)

pandas.core.frame.DataFrame

In [10]:
df2 = pd.concat([df, one_dummy], axis=1)

In [11]:
df2.drop('one', axis=1, inplace=True)

In [12]:
df2

   two  one_a  one_b  one_c  one_nan
a  1.0    1.0    0.0    0.0      0.0
b  2.0    0.0    1.0    0.0      0.0
c  NaN    0.0    0.0    1.0      0.0
d  4.0    0.0    0.0    0.0      1.0

In [14]:
df3 = df2.fillna(0)

In [15]:
df3

   two  one_a  one_b  one_c  one_nan
a  1.0    1.0    0.0    0.0      0.0
b  2.0    0.0    1.0    0.0      0.0
c  0.0    0.0    0.0    1.0      0.0
d  4.0    0.0    0.0    0.0      1.0

In [16]:
from sklearn import  preprocessing

In [22]:
scaler = preprocessing.StandardScaler()
scaler_para = scaler.fit(df3)
df4 = scaler.fit_transform(df3, scaler_para)
df4

array([[-0.50709255,  1.73205081, -0.57735027, -0.57735027, -0.57735027],
       [ 0.16903085, -0.57735027,  1.73205081, -0.57735027, -0.57735027],
       [-1.18321596, -0.57735027, -0.57735027,  1.73205081, -0.57735027],
       [ 1.52127766, -0.57735027, -0.57735027, -0.57735027,  1.73205081]])

In [14]:
pd.unique(df['one'].ravel())

array(['a', 'b', 'c', nan], dtype=object)

In [15]:
df['three'] = list(range(4))

In [16]:
df

   one  two  three
a    a  1.0      0
b    b  2.0      1
c    c  NaN      2
d  NaN  4.0      3

In [17]:
df.fillna(0)

  one  two  three
a   a  1.0      0
b   b  2.0      1
c   c  0.0      2
d   0  4.0      3

In [18]:
df['two'].fillna(0)

a    1.0
b    2.0
c    0.0
d    4.0
Name: two, dtype: float64

In [19]:
df['two'] = df['two'].fillna(0)

In [20]:
df['two'].mean()

1.75

In [21]:
df['two'][df['two'] !=0].mean()

2.3333333333333335

In [22]:
df

   one  two  three
a    a  1.0      0
b    b  2.0      1
c    c  0.0      2
d  NaN  4.0      3

In [23]:
d = {'one' : pd.Series(['a', 'b', 'c'], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 4.], index=['a', 'b', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a    a  1.0
b    b  2.0
c    c  NaN
d  NaN  4.0

In [31]:
df.loc[pd.isnull(df['two']), 'two']

Series([], Name: two, dtype: float64)

In [30]:
df

   one  two
a    a  1.0
b    b  2.0
c    c  0.0
d  NaN  4.0

In [1]:
from sklearn import preprocessing

In [2]:
scaler = preprocessing.StandardScaler()
scale_param = scaler.fit(df['two'])
caler.fit_transform(all_data[col_name], scale_param)

NameError: name 'df' is not defined

In [33]:
scaler.fit_transform(df['two'], scale_param)

C:\Users\Chao\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
C:\Users\Chao\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

array([-0.50709255,  0.16903085, -1.18321596,  1.52127766])

In [35]:
from sklearn.preprocessing import
dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],'B':[103.02,107.26,110.35,114.23,114.68], 'C':['big','small','big','small','small']})
dfTest[['A','B']] = dfTest[['A','B']].apply(lambda x: MinMaxScaler().fit_transform(x))
dfTest

NameError: ("name 'MinMaxScaler' is not defined", 'occurred at index A')