In [67]:
import numpy as np
import pandas as pd

## Series
### Create

`s= pd.Series(data, index-index)`
data canbe many different things:
- a Python dict
- an ndarray (Numpy)
- a scalar value(like 5)

#### From ndarray

In [68]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
s, s.index

(a    0.461137
 b   -0.607737
 c    0.171424
 d    0.469506
 e    0.732760
 dtype: float64, Index(['a', 'b', 'c', 'd', 'e'], dtype='object'))

In [69]:
pd.Series(np.random.randn(5))

0    0.899239
1    0.775002
2    0.568403
3    0.852182
4    1.663734
dtype: float64

#### From dict

In [70]:
d = {'a': 0, 'b': 1}
pd.Series(d)

a    0
b    1
dtype: int64

In [71]:
pd.Series(d, index=['b', 'a'])

b    1
a    0
dtype: int64

#### From scalar value

In [72]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

### ndarray-like

In [73]:
s[0], s[:3]

(0.46113651596102406, a    0.461137
 b   -0.607737
 c    0.171424
 dtype: float64)

In [74]:
s[s > s.median()]

d    0.469506
e    0.732760
dtype: float64

In [75]:
np.exp(s)

a    1.585875
b    0.544582
c    1.186994
d    1.599204
e    2.080817
dtype: float64

### dict-like

In [76]:
s['a']

0.46113651596102406

In [77]:
s['e'] =12
s['e']

12.0

In [78]:
'e' in s

True

In [79]:
s['f']

KeyError: 'f'

In [80]:
s.get('f', np.nan)

nan

### Vectorized operations and label alignment with Series

In [81]:
s + s

a     0.922273
b    -1.215474
c     0.342848
d     0.939012
e    24.000000
dtype: float64

In [82]:
s*2

a     0.922273
b    -1.215474
c     0.342848
d     0.939012
e    24.000000
dtype: float64

In [83]:
np.exp(s)

a         1.585875
b         0.544582
c         1.186994
d         1.599204
e    162754.791419
dtype: float64

In [84]:
s[1:] + s[:-1]

a         NaN
b   -1.215474
c    0.342848
d    0.939012
e         NaN
dtype: float64

### Name attribute

In [85]:
s = pd.Series(np.random.randn(5), name = 'somthing')
s

0    0.859832
1    0.629761
2    0.285104
3   -0.386683
4   -0.049607
Name: somthing, dtype: float64

In [86]:
s.name

'somthing'

In [87]:
s2 = s.rename('dif')
s.name, s2.name

('somthing', 'dif')

## DataFrame

### Create
- dict or 1D ndarrays, lists, dicts, or Series
- 2D numpy.ndaary
- Structured or record ndarray
- A Series
- Another DataFrame

#### dict of Series or dicts

In [88]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [89]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [90]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns= ['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

#### Structured or record array

In [91]:
data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])
data[:] = [(1,2.,'Hello'), (2,3.,"World")]
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [92]:
pd.DataFrame(data, index=['first', 'second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [93]:
pd.DataFrame(data, columns=['C', 'A', 'B'])

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

#### a list of dicts

In [94]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [95]:
pd.DataFrame(data2, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [96]:
pd.DataFrame(data2, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

#### a dict of tuples

In [97]:
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
   ....:               ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
   ....:               ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
   ....:               ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
   ....:               ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       a    b    c    a     b
A B  4.0  1.0  5.0  8.0  10.0
  C  3.0  2.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

#### a Series

###### Missing Data
- np.nan
- numpy.MaskedArray

#### DataFrame.from_dict

#### DataFrame.from_records

In [98]:
data
pd.DataFrame.from_records(data, index='C')

          A    B
C
b'Hello'  1  2.0
b'World'  2  3.0

#### DataFrame.from_items

In [99]:
pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6])])

   A  B
0  1  4
1  2  5
2  3  6

In [100]:
pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6])],
   ....:                         orient='index', columns=['one', 'two', 'three'])
   ....:

   one  two  three
A    1    2      3
B    4    5      6

### Column selection, addition, deletion

In [101]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [102]:
df['three'] = df['one'] + df['two']
df['flag'] = df['one'] >2
df

   one  two  three   flag
a  1.0  1.0    2.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    6.0   True
d  NaN  4.0    NaN  False

In [103]:
del df['two']
three = df.pop('three')
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

In [104]:
df['one_trunc'] = df['one'][:2]
df

   one   flag  one_trunc
a  1.0  False        1.0
b  2.0  False        2.0
c  3.0   True        NaN
d  NaN  False        NaN

In [110]:
#df.insert(1, 'bar', df['one'])
df

   one  bar   flag  one_trunc
a  1.0  1.0  False        1.0
b  2.0  2.0  False        2.0
c  3.0  3.0   True        NaN
d  NaN  NaN  False        NaN

### Assigning New Columns in Method Chains

In [116]:
iris = pd.read_csv('data/iris.data')
(df.assign(sepal_ratio = df['one'] / df['bar']).head())

OSError: File b'data/iris.data' does not exist

In [113]:
df.assign(sepal_ratio = lambda x: (x['one'] +
   ....:                                      x['bar'])).head()
   ....:

   one  bar   flag  one_trunc  sepal_ratio
a  1.0  1.0  False        1.0          2.0
b  2.0  2.0  False        2.0          4.0
c  3.0  3.0   True        NaN          6.0
d  NaN  NaN  False        NaN          NaN

### Indexing / Selection

- column  `df[col]` Series
- row by label `df.loc[label]1 Series
- row by integer `df.iloc[loc]` Series
- slice rows `df[5:10]` df
- rows by boolean vector `df[bool_vc]` df

In [118]:
df.loc['b']

one              2
bar              2
flag         False
one_trunc        2
Name: b, dtype: object

In [119]:
df.iloc[2]

one             3
bar             3
flag         True
one_trunc     NaN
Name: c, dtype: object

### Data alignment and arithmetic

In [121]:
df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
df + df2

          A         B         C   D
0  3.198820 -0.714140  1.216765 NaN
1 -2.734481 -2.323744  2.225890 NaN
2  0.852650 -2.035627  3.047334 NaN
3 -1.309611 -0.453517  0.226566 NaN
4 -0.905949  0.020756  0.536032 NaN
5  0.302866 -0.928674  0.238868 NaN
6  2.307757  1.196639 -0.723105 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [122]:
df - df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -2.692792 -0.899278 -0.108629  0.230276
2 -0.370389 -0.656485  0.197820 -1.829533
3 -1.436974  0.779444 -0.491260 -1.609031
4 -2.120522 -0.191370 -0.441018  0.835486
5 -0.977839  0.056946 -1.193507 -0.602493
6 -0.591819 -0.128650 -0.488943 -1.001482
7 -1.059655  1.163063 -0.523254  0.256750
8 -0.754180  1.699434 -0.354985 -0.010622
9 -1.517134  0.459803 -0.588331 -0.854774

In [123]:
index = pd.date_range("1/1/2000", periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
df

                   A         B         C
2000-01-01 -0.802128 -0.928028  1.695875
2000-01-02  1.224665  0.438382 -1.058757
2000-01-03  1.264397 -0.176299 -1.224488
2000-01-04 -0.402679  0.601566 -1.592767
2000-01-05  0.614568  2.117320 -0.102642
2000-01-06 -0.188293  0.051494 -1.288129
2000-01-07  0.867564  0.122256  1.760062
2000-01-08 -0.818001 -2.390147 -1.052238

In [125]:
type(df['A'])

pandas.core.series.Series

In [127]:
df.sub(df['A'], axis=0)

              A         B         C
2000-01-01  0.0 -0.125900  2.498003
2000-01-02  0.0 -0.786282 -2.283422
2000-01-03  0.0 -1.440696 -2.488885
2000-01-04  0.0  1.004244 -1.190088
2000-01-05  0.0  1.502752 -0.717210
2000-01-06  0.0  0.239787 -1.099836
2000-01-07  0.0 -0.745307  0.892498
2000-01-08  0.0 -1.572146 -0.234237

In [128]:
df * 5 +2

                   A          B          C
2000-01-01 -2.010639  -2.640141  10.479376
2000-01-02  8.123323   4.191911  -3.293785
2000-01-03  8.321984   1.118505  -4.122441
2000-01-04 -0.013394   5.007828  -5.963835
2000-01-05  5.072840  12.586600   1.486790
2000-01-06  1.058534   2.257468  -4.440646
2000-01-07  6.337818   2.611282  10.800309
2000-01-08 -2.090004  -9.950733  -3.261191

In [129]:
1/df

                   A          B         C
2000-01-01 -1.246684  -1.077553  0.589666
2000-01-02  0.816550   2.281115 -0.944504
2000-01-03  0.790891  -5.672184 -0.816668
2000-01-04 -2.483369   1.662329 -0.627838
2000-01-05  1.627159   0.472295 -9.742603
2000-01-06 -5.310867  19.419868 -0.776320
2000-01-07  1.152653   8.179526  0.568162
2000-01-08 -1.222493  -0.418384 -0.950355

In [130]:
df ** 4

                   A          B         C
2000-01-01  0.413975   0.741728  8.271336
2000-01-02  2.249410   0.036933  1.256566
2000-01-03  2.555839   0.000966  2.248114
2000-01-04  0.026293   0.130958  6.435894
2000-01-05  0.142653  20.097685  0.000111
2000-01-06  0.001257   0.000007  2.753199
2000-01-07  0.566507   0.000223  9.596473
2000-01-08  0.447729  32.636090  1.225904

In [131]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)

In [132]:
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False

In [133]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [134]:
df1 ^ df2

       a      b
0   True   True
1   True  False
2  False   True

In [135]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

### Transposing

In [136]:
df[:5].T

   2000-01-01  2000-01-02  2000-01-03  2000-01-04  2000-01-05
A   -0.802128    1.224665    1.264397   -0.402679    0.614568
B   -0.928028    0.438382   -0.176299    0.601566    2.117320
C    1.695875   -1.058757   -1.224488   -1.592767   -0.102642

### DataFrame interoperability with NumPy functions

In [137]:
np.exp(df)

                   A         B         C
2000-01-01  0.448374  0.395332  5.451415
2000-01-02  3.403025  1.550197  0.346887
2000-01-03  3.540956  0.838367  0.293908
2000-01-04  0.668527  1.824974  0.203362
2000-01-05  1.848858  8.308840  0.902450
2000-01-06  0.828372  1.052843  0.275786
2000-01-07  2.381103  1.130044  5.812796
2000-01-08  0.441313  0.091616  0.349155

In [138]:
np.asarray(df)

array([[-0.8021278 , -0.92802822,  1.6958753 ],
       [ 1.22466463,  0.43838217, -1.058757  ],
       [ 1.2643968 , -0.17629894, -1.22448817],
       [-0.40267881,  0.60156554, -1.59276691],
       [ 0.61456808,  2.11732004, -0.10264198],
       [-0.18829316,  0.05149366, -1.28812916],
       [ 0.86756366,  0.12225648,  1.76006176],
       [-0.81800089, -2.39014655, -1.05223824]])

In [139]:
df.T.dot(df)

          A          B          C
A  5.739002   4.168868  -0.996634
B  4.168868  11.659821  -0.333712
C -0.996634  -0.333712  13.908072

In [141]:
s1 = pd.Series(np.arange(5, 10))
s1.dot(s1)

255

### Console display

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2000-01-01 to 2000-01-08
Freq: D
Data columns (total 3 columns):
A    8 non-null float64
B    8 non-null float64
C    8 non-null float64
dtypes: float64(3)
memory usage: 256.0 bytes

In [144]:
print(df.iloc[1:]).to_string()

                   A         B         C
2000-01-02  1.224665  0.438382 -1.058757

AttributeError: 'NoneType' object has no attribute 'to_string'

In [145]:
pd.DataFrame(np.random.randn(3, 12))

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.147753,-0.318757,0.110555,-0.618596,-2.296382,0.927073,-0.182362,-0.223303,-0.942854,-0.401399,0.269084,0.039728
1,0.017671,-2.679623,0.504250,1.895709,-0.904623,-0.563499,-0.725244,-1.114092,0.428718,-0.224245,0.419626,-0.394179
2,0.374635,-0.424501,0.708984,-0.304611,-1.941095,0.970166,0.559516,0.355432,-0.347187,0.006982,0.599782,-0.703719

In [146]:
pd.set_option('display.width', 40)
pd.DataFrame(np.random.randn(3, 12))

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.617874,1.288893,0.578255,1.090820,0.774620,1.019765,0.581451,0.359840,-0.265697,-0.810464,0.967756,-0.805968
1,-1.063965,-0.822594,0.468286,-1.294333,-0.809496,1.737979,-0.572469,1.605779,1.555365,-1.490910,-0.026857,0.469294
2,0.094846,-0.171075,0.757408,0.832094,0.435253,1.570771,1.416175,-0.441215,-0.014321,-0.691118,1.226661,0.051815

### DataFrame column attribute access and IPython completion

In [150]:
df = pd.DataFrame({'foo1': np.random.randn(5),
                 'foo2': np.random.randn(5)})
df

       foo1      foo2
0  0.016363 -0.780008
1  1.664545  0.976339
2  1.185660  0.454928
3 -1.600499 -0.883824
4 -0.983368  0.811123

In [151]:
df.foo1

0    0.016363
1    1.664545
2    1.185660
3   -1.600499
4   -0.983368
Name: foo1, dtype: float64

## Panel
- 3-dimensional

In [152]:
In [111]: wp = pd.Panel(np.random.randn(2, 5, 4), items=['Item1', 'Item2'],
   .....:               major_axis=pd.date_range('1/1/2000', periods=5),
   .....:               minor_axis=['A', 'B', 'C', 'D'])
   .....: 

In [112]: wp

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [153]:
In [113]: data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)),
   .....:         'Item2' : pd.DataFrame(np.random.randn(4, 2))}
   .....: 

In [114]: pd.Panel(data)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [156]:
pd.Panel.from_dict(data, orient='minor')

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 4 (major_axis) x 2 (minor_axis)
Items axis: 0 to 2
Major_axis axis: 0 to 3
Minor_axis axis: Item1 to Item2

In [157]:
In [116]: df = pd.DataFrame({'a': ['foo', 'bar', 'baz'],
   .....:                    'b': np.random.randn(3)})
   .....: 

In [117]: df

     a         b
0  foo -2.374647
1  bar  0.983618
2  baz -1.891638

In [158]:
In [118]: data = {'item1': df, 'item2': df}

In [119]: panel = pd.Panel.from_dict(data, orient='minor')

In [120]: panel['a']

  item1 item2
0   foo   foo
1   bar   bar
2   baz   baz

In [159]:
In [121]: panel['b']

      item1     item2
0 -2.374647 -2.374647
1  0.983618  0.983618
2 -1.891638 -1.891638

In [160]:

In [122]: panel['b'].dtypes

item1    float64
item2    float64
dtype: object

### From DataFrame using to_panel method

In [161]:
In [123]: midx = pd.MultiIndex(levels=[['one', 'two'], ['x','y']], labels=[[1,1,0,0],[1,0,1,0]])

In [124]: df = pd.DataFrame({'A' : [1, 2, 3, 4], 'B': [5, 6, 7, 8]}, index=midx)

In [125]: df.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 2 (major_axis) x 2 (minor_axis)
Items axis: A to B
Major_axis axis: one to two
Minor_axis axis: x to y

### Item selection / addition / deletion

In [162]:
In [126]: wp['Item1']

,A,B,C,D
2000-01-01,0.936087,0.794549,-1.626816,0.357462
2000-01-02,0.501270,0.261502,-1.422167,1.100733
2000-01-03,0.193278,-0.230530,0.145170,0.258825
2000-01-04,-0.284228,-0.153020,2.227004,-1.772654
2000-01-05,-1.061288,-0.341303,0.957226,0.709073

In [164]:
wp['Item3'] = wp['Item1'] / wp['Item2']
wp

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item3
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

### Transposing

In [165]:
In [128]: wp.transpose(2, 0, 1)

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 3 (major_axis) x 5 (minor_axis)
Items axis: A to D
Major_axis axis: Item1 to Item3
Minor_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00

### Indexing / Selection

In [166]:
In [129]: wp['Item1']

,A,B,C,D
2000-01-01,0.936087,0.794549,-1.626816,0.357462
2000-01-02,0.501270,0.261502,-1.422167,1.100733
2000-01-03,0.193278,-0.230530,0.145170,0.258825
2000-01-04,-0.284228,-0.153020,2.227004,-1.772654
2000-01-05,-1.061288,-0.341303,0.957226,0.709073

In [167]:
In [130]: wp.major_xs(wp.major_axis[2])

      Item1     Item2     Item3
A  0.193278 -1.387754 -0.139274
B -0.230530  1.731386 -0.133148
C  0.145170  0.543233  0.267233
D  0.258825  1.747228  0.148134

In [168]:
In [131]: wp.minor_axis

Index(['A', 'B', 'C', 'D'], dtype='object')

In [169]:
In [132]: wp.minor_xs('C')

,Item1,Item2,Item3
2000-01-01,-1.626816,0.573479,-2.836751
2000-01-02,-1.422167,0.168098,-8.460345
2000-01-03,0.145170,0.543233,0.267233
2000-01-04,2.227004,0.174995,12.726068
2000-01-05,0.957226,0.314854,3.040222

### Squeezing

In [170]:
In [133]: wp.reindex(items=['Item1']).squeeze()

,A,B,C,D
2000-01-01,0.936087,0.794549,-1.626816,0.357462
2000-01-02,0.501270,0.261502,-1.422167,1.100733
2000-01-03,0.193278,-0.230530,0.145170,0.258825
2000-01-04,-0.284228,-0.153020,2.227004,-1.772654
2000-01-05,-1.061288,-0.341303,0.957226,0.709073

In [171]:
In [134]: wp.reindex(items=['Item1'], minor=['B']).squeeze()

2000-01-01    0.794549
2000-01-02    0.261502
2000-01-03   -0.230530
2000-01-04   -0.153020
2000-01-05   -0.341303
Freq: D, Name: B, dtype: float64

### Conversion to DataFrame

In [172]:
In [135]: panel = pd.Panel(np.random.randn(3, 5, 4), items=['one', 'two', 'three'],
   .....:                  major_axis=pd.date_range('1/1/2000', periods=5),
   .....:                  minor_axis=['a', 'b', 'c', 'd'])
   .....: 

In [136]: panel.to_frame()

                       one       two  \
major      minor
2000-01-01 a      0.313225 -1.747096
           b     -1.007433  0.237164
           c     -2.219737  0.778995
           d     -1.601434  0.452022
2000-01-02 a     -0.626635 -1.401586
           b      0.300483 -1.602752
           c      1.413979  0.695972
           d      1.164233 -2.257712
2000-01-03 a      0.686479  0.254972
           b      1.240279  0.078344
           c     -1.537662  0.596242
           d     -0.430684  0.569615
2000-01-04 a     -1.528360 -1.115433
           b      0.124102  1.754774
           c     -1.776361  1.875312
           d      1.233538  0.938000
2000-01-05 a     -0.362512  0.662372
           b     -0.394889  1.342100
           c     -1.869053  0.774418
           d     -0.464057 -0.056227

                     three
major      minor
2000-01-01 a      0.317396
           b      0.025587
           c      0.022736
           d     -0.607951
2000-01-02 a     -0.063079
           b      0.289267
           c     -1.604006
           d      1.223527
2000-01-03 a      0.056407
           b      0.950407
           c      0.167651
           d     -0.236562
2000-01-04 a      0.520143
           b     -1.345360
           c     -0.240526
           d      1.292000
2000-01-05 a     -0.357495
           b     -0.712293
           c     -0.091721
           d     -0.628679

## Panel4D (Experimental)

In [173]:
In [137]: p4d = pd.Panel4D(np.random.randn(2, 2, 5, 4),
   .....:                  labels=['Label1','Label2'],
   .....:                  items=['Item1', 'Item2'],
   .....:                  major_axis=pd.date_range('1/1/2000', periods=5),
   .....:                  minor_axis=['A', 'B', 'C', 'D'])
   .....: 

In [138]: p4d

<class 'pandas.core.panelnd.Panel4D'>
Dimensions: 2 (labels) x 2 (items) x 5 (major_axis) x 4 (minor_axis)
Labels axis: Label1 to Label2
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [174]:
In [139]: data = { 'Label1' : pd.Panel({ 'Item1' : pd.DataFrame(np.random.randn(4, 3)) }),
   .....:          'Label2' : pd.Panel({ 'Item2' : pd.DataFrame(np.random.randn(4, 2)) }) }
   .....: 

In [140]: pd.Panel4D(data)

<class 'pandas.core.panelnd.Panel4D'>
Dimensions: 2 (labels) x 2 (items) x 4 (major_axis) x 3 (minor_axis)
Labels axis: Label1 to Label2
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [175]:
In [141]: p4d['Label1']

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [176]:
In [142]: p4d.ix[:,:,:,'A']

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 2 (major_axis) x 5 (minor_axis)
Items axis: Label1 to Label2
Major_axis axis: Item1 to Item2
Minor_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00

In [177]:
In [143]: p4d.ix[:,:,0,'A']

         Label1    Label2
Item1 -1.146799 -0.942542
Item2  0.709956  0.096989

In [178]:
In [144]: p4d.ix[:,0,0,'A']

Label1   -1.146799
Label2   -0.942542
Name: A, dtype: float64

In [179]:
In [145]: p4d.transpose(3, 2, 1, 0)

<class 'pandas.core.panelnd.Panel4D'>
Dimensions: 4 (labels) x 5 (items) x 2 (major_axis) x 2 (minor_axis)
Labels axis: A to D
Items axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Major_axis axis: Item1 to Item2
Minor_axis axis: Label1 to Label2

## PanelND

In [180]:
In [146]: from pandas.core import panelnd

In [147]: Panel5D = panelnd.create_nd_panel_factory(
   .....:     klass_name   = 'Panel5D',
   .....:     orders  = [ 'cool', 'labels','items','major_axis','minor_axis'],
   .....:     slices  = { 'labels' : 'labels', 'items' : 'items',
   .....:                     'major_axis' : 'major_axis', 'minor_axis' : 'minor_axis' },
   .....:     slicer  = pd.Panel4D,
   .....:     aliases = { 'major' : 'major_axis', 'minor' : 'minor_axis' },
   .....:     stat_axis    = 2)
   .....: 

In [148]: p5d = Panel5D(dict(C1 = p4d))

In [149]: p5d

<class 'pandas.core.panelnd.Panel5D'>
Dimensions: 1 (cool) x 2 (labels) x 2 (items) x 5 (major_axis) x 4 (minor_axis)
Cool axis: C1 to C1
Labels axis: Label1 to Label2
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [181]:
# print a slice of our 5D
In [150]: p5d.ix['C1',:,:,0:3,:]

<class 'pandas.core.panelnd.Panel4D'>
Dimensions: 2 (labels) x 2 (items) x 3 (major_axis) x 4 (minor_axis)
Labels axis: Label1 to Label2
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-03 00:00:00
Minor_axis axis: A to D

In [182]:
# transpose it
In [151]: p5d.transpose(1,2,3,4,0)

<class 'pandas.core.panelnd.Panel5D'>
Dimensions: 2 (cool) x 2 (labels) x 5 (items) x 4 (major_axis) x 1 (minor_axis)
Cool axis: Label1 to Label2
Labels axis: Item1 to Item2
Items axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Major_axis axis: A to D
Minor_axis axis: C1 to C1

In [184]:
# look at the shape & dim
In [152]: p5d.shape

(1, 2, 2, 5, 4)

In [186]:
In [153]: p5d.ndim

5